*.o
*.hi
*~
dist/
.cabal-sandbox/
cabal.sandbox.config
.stack-work
dist-newstyle/
dist_build/
NOTES
RelatedPapers/
_shake
nextsteps
\#*\#
.\#*
view-system-notes
persistence-notes
*.pyc
jupyter/itutd.egg-info
jupyter/build
juyter/dist
.ipynb_checkpoints
project-m36.nix
stack.yaml
TutDForSQLDevelopers/??.html
TutDForSQLDevelopers/?.html
haddock_hackage*