# For more information, see https://github.com/ChrisPenner/haskell-stack-travis-ci
language: c
sudo: false

git:
  submodules: false  # whether to recursively clone submodules

cache:
  directories:
    - $HOME/.ghc
    - $HOME/.cabal
    - $HOME/.stack
    - .stack-work
  timeout: 1000

matrix:
  fast_finish: true
  include:
    - env: CACHE_NAME=7.10.3 STACK_YAML=stack.ghc7.10.yaml
      compiler: ": #stack 7.10.3"

    - env: CACHE_NAME=8.0.2 STACK_YAML=stack.yaml
      compiler: ": #stack 8.0.2"

    - env: CACHE_NAME=osx-8.0.2 STACK_YAML=stack.yaml
      os: osx
      os_image: xcode7.3
      compiler: ": #stack 8.0.2"

before_script:
 - unset CC
 - export PATH=$HOME/.local/bin:/opt/ghc/$GHC_VERSION/bin:$PATH
 - ./.travis/install-ghr.sh
 - ./.travis/install-stack.sh

# Here starts the actual work to be performed for the package under test;
# any command which exits with a non-zero exit code causes the build to fail.
script:
 - |
   # Run tests
   set -e
   ./.travis/install-dependencies.sh
   #stack --no-terminal --jobs=2 --system-ghc test
 - |
   #Run HLint
   #if [[ "$(uname)" = "Linux" ]]; then 
    #curl -sL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s lint src test examples --cpp-define VERSION_project_m36=HLINT
   #fi
 - |
   #Run Haddock
   #if [[ "$(uname)" = "Linux" ]]; then 
    #stack --no-install-ghc --system-ghc --no-haddock-deps haddock 
   #fi

after_success:
 - |
   # Build and ship binary
   #./.travis/attach-binary.sh

# EOF
